
/** INDEX **/
.index-infoblock{
	background-color: #EEE;
	border: double 3px #999;
	margin: 30px auto;
	width: 400px;
}
.index-infoblock h1{
	text-align: center;
	border-bottom:solid 1px #999;
	background-color:#777;
	padding:10px 0px;
	margin: 0 0 1em;
	font-size:20px;
	color:#FFF;
	font-weight:bold;
	text-decoration:underline;
}
.index-infoblock .items>div{
	margin: 1em;
}
.index-infoblock .footer{
	text-align: center;
	border-top:solid 1px #999999;
	background-color:#777777;
	padding:2px 0px;
	font-size:11px;
	color:#FFFFFF;
	font-weight:bold;
}
.index-menu{
	width: 400px;
	text-align: center;
	margin: auto;
}
.index-menu h1{
	font-size: 20px;
	font-weight: bold;
}
.index-menu a{
	display:block;
	font-size:13px;
	text-align:left;
	color:#000026;
	text-decoration:none;
	font-weight:bold;
	background-color:#E5E5E5;
	width:270px;
	padding:5px 10px;
	border:outset 1px #B3C7CD;
	margin: 3px auto;
	cursor:pointer;
}
.index-menu a:hover{
	color:#000000;
	border:outset 1px #CCCCCC;
	background-color:#C8DEF2;
}
.index-menu a:active{
	border:inset 1px #CCCCCC;
}

/** GLOBALS **/
a.globals-row{
	display: block;
	background-color:#EEEEEE;
	width:200px;
	border:solid 1px #AAAAAA;
	margin:10px;
	padding:2px 5px;
	cursor: pointer;
	font-weight:bold;
}
a.globals-row:hover{
	text-decoration: none;
}
.globals-subrow{
	display: none;
	margin-left:20px;
	font-size:14px;
	line-height:20px;
	white-space: pre;
}

/** FILE MANAGER **/

#fm-wrap{
	margin: auto;
	background-color:#E5E5E5;
	border:solid 1px #777777;
}
.fm-head-title{
	background-color:#508EF5;
	color:white;
	font-weight:bold;
	padding:3px 10px;
}

/* иконки опций */
a.fm-opt-icon{
	padding:3px 3px 0px 3px;
	display:inline-block;
	border:solid 1px transparent;
}
a.fm-opt-icon:hover{
	border:outset 1px #CCCCCC;
	background-color:#DDDDFF;
}
a.fm-opt-icon:active{
	border:inset 1px #CCCCCC;
}
.fm-file-options{
	margin: 2px auto 5px;
}
/* кнопки опций */
.fm-file-options a{
	display:block;
	font-size:11px;
	text-align:center;
	color:#000026;
	text-decoration:none;
	font-weight:bold;
	background-color:#C9C9C9;
	width:95px;
	padding:5px 1px;
	border:outset 1px #BBBBBB;
	cursor:pointer;
}
.fm-file-options a:hover{
	color:#000000;
	border:outset 1px #CCCCCC;
	background-color:#C8DEF2;
}
.fm-file-options a:active{
	border:inset 1px #CCCCCC;
}
#fm-addr-left, #fm-addr-right{
	width:350px;
	font-family:"Arial";
	margin-bottom:5px;
}

.fm-col-box{
	padding:5px;
	border:solid 1px #999999;
	background-color:#FFFFFF;
}
.fm-col-box > div{
	height: 500px;
	overflow: auto;
}
/* заголовки колонок */
.fm-col>thead th{
	background-color:#DDDDDD;
	color:#777777;
	padding:2px 10px;
	border:solid 1px #FFFFFF;
	cursor: pointer;
	white-space: nowrap;
}
.fm-col>tbody td{
	padding: 2px 5px;
}
.fm-col.fm-col-active>thead th{
	background-color:#93C9FF;
	color:#000000;
	padding:2px 10px;
	border:solid 1px #FFFFFF;
	cursor: default;
}
td.fm-col-icon{
	width: 18px;
	padding: 0 !important;
}
td.fm-col-icon img{
	margin: 0 !important;
}
td.fm-col-name{
	cursor: pointer;
}
.fm-col-emtime{
	text-align: center;
	font-size: 10px;
	white-space: nowrap;
}

.fm-text-button{
	display: inline !important;
	border: none;
	background-color: transparent;
	padding: 0;
	margin: 0;
}
.fm-text-button:active{
	padding: 0 !important;
}
/* фиктивные ссылки */
a.fm-jlink{
	color:black;
	font-weight:normal;
	text-decoration:none;
	display:block;
	padding:2px 10px;
}
a.fm-jlink::selection{
	background-color:#ACC2FD;
}

/* полуфиктивные ссылки */
a.fm-half-jlink{
	color:black;
	font-weight:normal;
	display:block;
	padding:2px 10px;
}
a.fm-half-jlink::selection{
	/* background-color: transparent; */
}

.fm-col.fm-col-active tr.fm-select *{
	background-color:#508EF5 !important;
	color:white !important;
	font-weight:bold !important;
}

#fm-left-col ,#fm-right-col{
}
#fm-left-col td ,#fm-right-col td{
}
#fm-left-col th ,#fm-right-col th{
}
#fm-left-col img, #fm-right-col img {
	vertical-align:middle;
	margin-right:5px;
	cursor:pointer;
	float:left;
}

#fm-log-title{
	font-size:10px;
	padding:0px 10px;
	background-color:#93C9FF;
}
#fm-log-body{
	background-color:#FFFFFF;
	border:solid 1px #777777;
	border-top-style:none;
	height:60px;
	padding:2px 4px;
	overflow:auto;
	font-size: 11px;
}
.fm-log-date{
	font-size:11px;
	width:110px;
	display:inline-block;
	color:#777777;
}


	



