/* кнопки опций */
a.optBtn{font-size:11px;text-align:center;color:#000026;text-decoration:none;font-weight:bold;background-color:#BBBBBB;width:95px;padding:5px 1px;border:outset 1px #BBBBBB;margin: 3px 0px 0px 0px;display:block;cursor:pointer;}
a:hover.optBtn{color:#000000;border:outset 1px #CCCCCC;background-color:#C8DEF2;}
a:active.optBtn{border:inset 1px #CCCCCC;}

/* иконки опций */
a.optIcon{padding:3px 3px 0px 3px;display:inline-block;border:solid 1px transparent;}
a:hover.optIcon{border:outset 1px #CCCCCC;background-color:#DDDDFF;}
a:active.optIcon{border:inset 1px #CCCCCC;}

/* заголовки колонок */
.active th{background-color:#93C9FF;color:#000000;padding:2px 10px; border:solid 1px #FFFFFF;}
.passive th{background-color:#DDDDDD;color:#777777;padding:2px 10px; border:solid 1px #FFFFFF;}

/* фиктивные ссылки */
a.fict{color:black; font-weight:normal; text-decoration:none;display:block;padding:2px 10px;}
a.fict::selection{background-color:#ACC2FD;}

/* полуфиктивные ссылки */
a.halffict{color:black; font-weight:normal; display:block;padding:2px 10px;}
a.halffict::selection{background-color:#ACC2FD;}

#renameBox{background-color:#DDDDDD;padding:3px 20px;border:none 2px #00FF00;}
#addrBoxLeft,#addrBoxRight{width:350px;font-family:"Arial";margin-bottom:5px;}

.colBox{
	padding:5px;
	border:solid 1px #999999;
	background-color:#FFFFFF;
}
.colBox > div{
	height: 500px;
	overflow: auto;
}

#leftCol ,#rightCol{}
#leftCol td ,#rightCol td{}
#leftCol th ,#rightCol th{}
#leftCol img, #rightCol img {vertical-align:middle;margin-right:5px;cursor:pointer;float:left;}

tr.select a, tr.select td{background-color:#508EF5;color:white;font-weight:bold;}
tr.unselect{background-color:transparent;color:black;font-weight:normal;}

.logDate{font-size:11px;width:110px;display:inline-block;color:#777777;}
