
a.menuRow{font-size:13px;text-align:left;color:#000026;text-decoration:none;font-weight:bold;background-color:#E5E5E5;width:270px;padding:5px 10px;border:outset 1px #B3C7CD;margin: 3px 0px 0px 0px;display:block;cursor:pointer;}
a:hover.menuRow{color:#000000;border:outset 1px #CCCCCC;background-color:#C8DEF2;}
a:active.menuRow{border:inset 1px #CCCCCC;}
